.Progress {
  color: black;
  background-color: white;
  position: center;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 20%; */
  max-width: 1000px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
}

.Racer {
  padding-left: 90%;
  /* padding left must be max 90%, max width must be 10% */
  max-width: 10%;
  height: auto;
}



