.Text {
  color: black;
  background-color: white;
  position: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 20%; */
  max-width: 1000px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  
}

#text {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#text-box {
  width: 95%;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#text-box-wrong {
  width: 95%;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(255,75,75);
}
#text-box-done {
  width: 95%;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(13,244,2);
}

.textbox {
  color: black;
  font-size: 30px;
}

#restart {
  text-align: center;
  font-size: 20px;
  color: black;
  background-color: rgb(96, 185, 245);
  position: center;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
  max-width: 20%;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
}

#restart:hover {
  background-color: rgb(16, 159, 255);
  font-size: 21px;
}

.restart {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  
}